################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ShenanigansWithBitmaps
/Bin64/Debug/ShenanigansWithBitmaps
/Obj64/Debug/ShenanigansWithBitmaps
